[mysqld]
#ssl
#secure_auth = ON
#ssl_ca = /etc/ssl/ca_cert.pem
#ssl_cert = /etc/ssl/server_cert.pem
#ssl_key = /etc/ssl/server_key.pem
max_heap_table_size = 200M
tmp_table_size = 200M
character_set_server = utf8
collation_server = utf8_bin
log_output = file
slow_query_log = ON
long_query_time = 5
port = 3306
default_storage_engine = InnoDB
back_log = 100
max_connections = 300
max_connect_errors = 999
max_allowed_packet = 100M
log_bin = ON
binlog_cache_size = 2M
binlog_stmt_cache_size = 2M
expire_logs_days = 7
sort_buffer_size = 16M
join_buffer_size = 8M
key_buffer_size = 8M
read_buffer_size = 8M
read_rnd_buffer_size = 128M
thread_cache_size = 128
query_cache_type = 1
query_cache_size = 128M
query_cache_limit = 2M
local-infile = 0

# *** INNODB Specific options ***
innodb_buffer_pool_size = 200M
innodb_buffer_pool_instances = 8
innodb_io_capacity = 10000
innodb_additional_mem_pool_size = 64M
innodb_file_per_table = ON
innodb_file_format = BARRACUDA
innodb_log_buffer_size = 256M
innodb_log_file_size = 256M
innodb_large_prefix = ON

